<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>

        <form class="form" method="post" th:action="@{/create-player}" th:object="${player}">
            <div class="col-md-4 offset-4">
                <div class="form-group">
                    <label for="player-name">Name:</label>
                    <input id="player-name" class="form-control" type="text" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="player-age">Age:</label>
                    <input id="player-age" class="form-control" type="text" th:field="*{age}"/>
                </div>
                <div class="form-group">
                    <label for="player-height">Height:</label>
                    <input id="player-height" class="form-control" type="text" th:field="*{height}"/>
                </div>
                <div class="form-group">
                    <label for="player-nationality">Nationality:</label>
                    <input id="player-nationality" class="form-control" type="text" th:field="*{nationality}"/>
                </div>
                <div class="form-group">
                    <label for="player-ballposition">Ball Position:</label>
                    <input id="player-ballposition" class="form-control" type="text" th:field="*{ballposition}"/>
                </div>
                <div class="form-group col-md-2">
                    <label for="player-team">Category:</label>
                    <select class="form-control" id="player-team" th:field="*{team}">
                        <option th:each="team:${teams}"
                                th:value="${team.id}"
                                th:text="${team.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="btn-submit"></label>
                    <button class="btn btn-primary" id="btn-submit" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>